$teal: #22B3A6;
$gold: #f0c25f;
$white: #FFFCF5;
$gray: #D0D7DD;
$black: #2A343A;
$shadow: rgb(42, 52, 58, .10);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  max-height:100vh;
  color: $black;
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

h1 {
  color: $white;
  background-color: $black;
  font-size: 48px;
  text-align: center;
  padding: 75px 50px;
}

h2 {
  color: $white;
  background-color: $black;
  text-align: center;
  padding: 75px 50px;
  line-height: 35px;
}

.result-word {
  align-items: left;
}

p {
  color: $black;
  margin: 5px 0;
}

#nav {
  width: 100%;
  height: 75px;
  color: $white;
  background-color: $teal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // box-shadow:  -2px 3px 3px 2px $shadow;
  // z-index: 2;
}

#logo {
  margin-top: 4px;
  margin-left: 40.2px;
  width: auto;
  height: 52.5px;
}

#profile-icon {
  margin-top: 4px;
  margin-right: 32px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  color: $white;
  background-color: $white;
  // border: 1px solid $white;
  // z-index: auto;
  // box-shadow: -.5px 1.5px 2px 2px $shadow;
}

button {
  z-index: auto;
}

button:hover {
  cursor: pointer; 
 }

a {
   z-index: auto;
}

a:hover  {
  cursor: pointer;
}

#main-container {
  height: 100%;
}

#aside {
   position: fixed;
   margin-top: 75px;
   padding: 40px;
   height: 100%;
   background-color:#FFFCF5;
   display: flex;
   align-items: flex-start;
}

.side-header {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
}

input[type=text], select[name=radius] {
  width: 90%;
  padding: 12px 10px;
  margin: 10px 0 20px;
  border: 1px solid $black;
  color: $black;
  border-radius: 5px;
  color: $black;
  font-size: 14px;
}

select[name=radius] {
  width: 97%;
  padding: 11px 10px;
  font-size: 14px;
}

input[type=checkbox]{
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 10px;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  // margin: 5px 0;

  .checkbox label {
    // padding-left: 5px;
    font-size: 14px;
  }
}

.checkboxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#search {
  background-color: $gold;
  color: $black;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid $gold;
  border-radius: 5px;
  width: 100%;
  height: 45px;
  z-index: 1;
  box-shadow: 0px 2px 2px $shadow;
  margin: 30px 0 0;
}

#results-container {
  margin-left: 385px;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  width: auto;
  padding: 93px 40px 40px 40px;
}

#splash {
  margin-left: 385px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: url("./assets/background.gif") $gold repeat center;
  height: 100vh;
  padding: 40px;
}

article {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
  width: 100%;
}

.business {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  justify-content: flex-end;
  width: 100%;
  min-width: 500px;
  border: 1px solid $shadow;
  box-shadow:  0 2px 5px 2px $shadow;
}

.businessImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
  flex-shrink: 0;
}

.businessDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 12px 20px 12px 22px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  vertical-align: middle;
}

.addFav {
  background-color: $teal;
  color:$white;
  border-radius: 5px;
  border: 1px solid $teal;
  width: 125px;
  padding: 10px;
  margin: 0 0 10px;
  box-shadow: 0px 2px 2px $shadow;
}

.comment {
  background-color: $gold;
  border: 1px solid $gold;
  color: $black;
  border-radius: 5px;
  width: 125px;
  padding: 10px;
  box-shadow: 0px 2px 2px $shadow;
}

.share {
  background-color: $gold;
  border: 1px solid $gold;
  color: $black;
  border-radius: 5px;
  width: 125px;
  padding: 10px;
  margin: 10px 0 0;
  box-shadow: 0px 2px 2px $shadow;
}

.name {
  color: $teal;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.name:hover {
  color: $gold;
  text-decoration: underline;
}

.distance {
  padding-top: 8px;
  margin: 0;
  color: $black;
  font-size: 14px;
}

.rating {
  color: $black;
  margin-left: 5px;
  font-weight: 700;
  font-size: 14px;
}

.price {
  color: $black;
  margin-left: 0;
  padding-right: 2px;
  font-weight: 700;
  font-size: 14px;
}

.Address {
  margin: 5px 0 0 0;
}

.phone {
  margin-top: 4px;
}

.add-comment {
  padding: 12px 0 0 1px;
  margin: 0;
  color: $teal;
  align-self: flex-start;
  background: none;
  border: none;
}

.add-comment:hover {
  color: $gold;
}

@media screen and (max-width: 1060px) and (min-width: 500px) {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    height: 100vh;
  }

  #results-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 40px 40px 40px 40px;
  }

  #splash {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  aside {
    position: relative;
    padding: 40px 0;
    width: 100%;
    justify-content: center;
  }

  aside > * {
    padding: 0 40px;
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "left right"
      "bottom right";
    gap: 20px;
  }

  .filters {
    grid-area: right;
  }
  
  .checkboxes {
    margin-top: 20px;
  }
 
  .location-and-radius {
    grid-area: left;
  }
  
  #search {
    grid-area: bottom;
    width: 97%;
    padding: 0;
    margin-top: -5px;
  }

  .side-header {
    margin-top: 0;
  }

 }

@media screen and (max-width: 500px) {
  #main-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  #results-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 40px;
  }

  #splash {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  aside {
    position: relative;
    padding: 40px;
    width: auto;
    height: 100%;
    justify-content: center;
  }

  aside > * {
    padding: 0 20px;
  }

  form {
    display: block;
  }

  #search {
    margin-top: 30px;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 20px;
    width: 100%;
  }

  .business {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    box-shadow:  -2px 5px 5px 2px $shadow;
  }
  
  .businessImg {
    width: auto;
    object-fit: cover;
  }
  
  .businessDetails {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // border: 1px solid $shadow;
    // width: auto;
    // height: auto;
    // padding: 20px;
    // box-shadow: 0px 2px 2px $shadow;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    align-items: center;
    justify-content: center;
    min-width: 300px;
  }
  
  .addFav {
    background-color: $teal;
    color:$white;
    border-radius: 5px;
    border: 1px solid $teal;
    width: 125px;
    padding: 10px;
    margin: 10px 5px;
    box-shadow: 0px 2px 2px $shadow;
  }
  
  .comment {
    background-color: $gold;
    border: 1px solid $gold;
    color: $black;
    border-radius: 5px;
    width: 125px;
    padding: 10px;
    margin: 10px 5px;
    box-shadow: 0px 2px 2px $shadow;
  }
  
  .share {
    background-color: $gold;
    border: 1px solid $gold;
    color: $black;
    border-radius: 5px;
    width: 125px;
    padding: 10px;
    margin: 10px 5px;
    box-shadow: 0px 2px 2px $shadow;
  }
}